/* common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #222;
    color: white;
    padding: 30px;
    text-align: center;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /* text-align: center; */
    background-color: #f4f4f4;
}

footer {
    text-align: center;
    padding: 10px;
}

/* top page */

.hero {
    background: url('images/chaos_game.png') no-repeat center center/cover;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    text-align: center;
}

.hero .overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 25px 40px;
    border-radius: 10px;
}

.hero .overlay h2 {
    padding: 5px;
}

.work-list {
    padding: 40px 20px;
    background: #fff;
    text-align: center;
}

.art-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.art-card {
    text-align: center;
    max-width: 200px;
    transition: transform 0.3s ease;
}

.art-card img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.art-card a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.art-card:hover {
    transform: scale(1.1);
}

/* work pages */

.artwork {
    background-color: #fff;
    padding: 20px;
    margin: 15px auto;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.artwork h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.artwork p {
    margin: 20px 0px;
}

.artwork img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.navigation-buttons .button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.1s;
}

.navigation-buttons .button:hover {
    background-color: #ff9800;
}

#artwork-canvas {
    position: relative;
}

.references {
    margin-top: 10px;
}

.references ul {
    margin: 10px 20px;
}
